
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  background-color: #ffffff !important;
}

.css-1jxgrnq-MuiBadge-badge{
  background-color: rgb(21, 221, 21) !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  border-radius: 20px !important;
  padding: 13px;
}
